<!--
mon idée:

    <form [formGroup]="filmForm" (ngSubmit)="proposer()">
        titre: <input type="text" formControlName="titre">
        accroche:<input type="text" formControlName="accroche">
        genre:<input type="text" formControlName="genre">
        pitch:<input type="text" formControlName="pitch">
        note:<input type="text" formControlName="note">
        casting:<input type="text" formControlName="casting">
        pseudo:<input type="text" formControlName="auteur
        ">
        email:<input type="text" formControlName="email">

        <button type="submit">envoyer mon idée</button>
    </form>

-->

    <div
    class="principal">
    <img class="fond" src="./../../../assets/bois.png">
    <img class="machine" src="./../../../assets/machine.png">
    <img class="journal" [src]="'./../../../assets/'+ideeRandom+'.png'">
    
    <div class="texte">
    <p *ngIf="fini">Votre proposition de film a été envoyée avec succès.</p>
    
    <div *ngIf="!fini">
    <div class="rubriques">
        <div (click)="select(0)">Film</div>
        <div (click)="select(1)">Genre</div>
        <div (click)='select(2)'>Résumé</div>
        <div (click)="select(3)">Casting</div>
        <div (click)="select(4)">Note</div>
        <div (click)="select(5)">Bonus</div>
        <div (click)="select(6)">Envoi</div>
    </div>
        <div *ngIf="selection===0"> <form>
            <div>
               
                    Titre:
                    <input type="text" name="titre" [(ngModel)]="film.titre" required minlength="2" #saisieTitre="ngModel">
                    <img *ngIf="saisieTitre.valid && saisieTitre.touched" src="./../../../assets/ok.png" height="20px">
                    <p class="error" *ngIf="(saisieTitre.invalid && saisieTitre.touched)">Le titre doit comporter minimum 2 caractères.</p>
                    <img height="40px" (click)='aider(1)' src="./../../../assets/question.png" alt="question">
                    <div *ngIf="aide===1">
                        <p> Attention, il ne s'agit PAS de parler de projets de films qui ont existé et ont capoté (comme
                            par
                            exemple 'Dune' de Jodorowsky ou 'Napoléon' de Kubrick).
                        </p>
                        <button (click)="fermerAide()">X</button>
                    </div>
    
            </div>
            <div>
                Accroche:
                <input type="text" name="accroche" [(ngModel)]="film.accroche" required #saisieAccroche="ngModel">
                <img *ngIf="saisieAccroche.valid&&saisieAccroche.touched" src="./../../../assets/ok.png" height="20px">
                <p class="error" *ngIf="saisieAccroche.invalid&&saisieAccroche.touched">Veuillez saisir une accroche commmençant par "Et si"</p>
                <img height="40px" (click)='aider(2)' src="./../../../assets/question.png" alt="question">
                <div *ngIf="aide===2">
                    <p>l'accroche doit obligatoirement commencer par "et si..."</p>
                    <button (click)="fermerAide()">X</button>
                </div>
            </div>
            <br>
            <br>
            <img (click)="random()" height="50px" src="./../../../assets/ampoule.png" alt="ampoule">
            <p *ngIf="clikIdee"></p>
    
            </form>
    
        </div>

        <div  *ngIf="selection===1">
            <div>
                Genre : 
                <input type="checkbox" name="genre" id="fantastique" value="fantastique" #fantastique (change)="quoi(fantastique.checked, 'fantastique')">Fantastique
                <input type="checkbox" name="genre" id="comedie" value="comedie" #comedie  (change)="quoi(comedie.checked, 'comedie')">Comédie
                <input type="checkbox" name="genre" id="drame" value="drame" #drame  (change)="quoi(drame.checked,'drame')">Drame
                <input type="checkbox" name="genre" id="romance" value="romance"#romance  (change)="quoi(romance.checked,'romance')">Romance
                <input type="checkbox" name="genre" id="thriller" value="thriller"#thriller (change)="quoi(thriller.checked,'thriller')">Thriller
                <input type="checkbox" name="genre" id="policier" value="policier"#policier (change)="quoi(policier.checked,'policier')">Policier
                <input type="checkbox" name="genre" id="sf" value="sf" #sf  (change)="quoi(sf.checked,'sf')">Science-Fiction
                <input type="checkbox" name="genre" id="dystopie" value="dystopie"#dystopie  (change)="quoi(dystopie.checked,'dystopie')">Dystopie
                <input type="checkbox" name="genre" id="peplum" value="peplum" #peplum  (change)="quoi(peplum.checked,'peplum')">Péplum
                <input type="checkbox" name="genre" id="historique" value="historique"#historique  (change)="quoi(historique.checked,'historique')">Historique
                <input type="checkbox" name="genre" id="biographie" value="biographie"#biographie (change)="quoi(biographie.checked,'biographie')">biographie
                <input type="checkbox" name="genre" id="action" value="action"#action  (change)="quoi(action.checked,'action')">Action
                <input type="checkbox" name="genre" id="horreur" value="horreur"#horreur  (change)="quoi(horreur.checked,'horreur')">horreur
                <input type="checkbox" name="genre" id="western" value="western"#western (change)="quoi(western.checked,'western')">Western
            </div>
        </div>

    
        <div *ngIf="selection===2"><form>
            <div>
                Pitch:
                
                <textarea name="" id="" cols="30" rows="5" name="pitch" [(ngModel)]="film.pitch" required #saisiePitch="ngModel"></textarea>
                <img *ngIf="saisiePitch.valid&&saisiePitch.touched" src="./../../../assets/ok.png" height="20px">
                <p class="error" *ngIf="saisiePitch.invalid&&saisiePitch.touched">Veuillez saisir un résumé de maximum 100 caractères</p>
                
                
                <img height="40px" (click)='aider(3)' src="./../../../assets/question.png" alt="question">
                <div *ngIf="aide===3">
                    <p></p>
                    <button (click)="fermerAide()">X</button>
                </div>
            </div>
        </form></div>
    
        <div *ngIf="selection===3"><form>
           
            <div>
                Casting:
                <input type="text" name="casting" [(ngModel)]="film.casting" required #saisieCasting="ngModel">
                <img *ngIf="saisieCasting.valid&&saisieCasting.touched" src="./../../../assets/ok.png" height="20px">
                <p class="error" *ngIf="saisieCasting.invalid&&saisieCasting.touched">Veuillez saisir un casting.</p>
                
                <img height="40px" (click)='aider(4)' src="./../../../assets/question.png" alt="question">
                <div *ngIf="aide===4">
                    <p></p>
                    <button (click)="fermerAide()">X</button>
                </div>
            </div>
        </form></div>
    
        <div *ngIf="selection===4"><form>
            <div>
                Note d'intention:
                <input type="text" name="note" [(ngModel)]="film.note" #saisieNote = "ngModel">
                <img *ngIf="saisieNote.valid&&saisieNote.touched" src="./../../../assets/ok.png" height="20px">
                <p class="error" *ngIf="saisieNote.invalid&&saisieNote.touched">Veuillez saisir une note.</p>
                
                <img height="40px" (click)='aider(5)' src="./../../../assets/question.png" alt="question">
                <div *ngIf="aide===5">
                    <p></p>
                    <button (click)="fermerAide()">X</button>
                </div>
            </div>
        </form></div>
    
        <div *ngIf="selection===5"><form>
            BONUS
            <img height="40px" (click)='aider(6)' src="./../../../assets/question.png" alt="question">
            <div *ngIf="aide===6">
                <p>Votre touche personnelle (facultatif)</p>
                <button (click)="fermerAide()">X</button>
            </div>
        </form></div>
    
        <div *ngIf="selection===6"><form>
            <div>
                Pseudo:
                <input type="text" name="pseudo" [(ngModel)]="film.auteur" required>
            </div>
            <div>
                Email:
                <input type="text" name="email" [(ngModel)]="film.email" required>
            </div>
            <input type="checkbox" value="rgpd" name="accord" #rgpd id="rgpd" [checked]="rgpd.checked" > J'accepte que, s'il est retenu, mon projet soit eventuellement corrigé, ensuite illustré et
            publié sur le site lfqnep ainsi que sur les pages fb et instagram dédiées. <br>
            <input type="checkbox" value="cgu" name="accord" id="cgu" #cgu [checked]="cgu.checked" ><br>
         
            <button (click)="proposer()" [disabled]="!cgu.checked || !rgpd.checked">POSTER</button>

        </form></div>

        <div *ngIf="selection===7">
            <div>Merci {{film.auteur}} d'avoir participé à ce projet collaboratif.</div>
            <div>Un email de confirmation vous a été envoyé à {{film.email}}</div>
        </div>
    </div>
</div>
  