mon idée:

    <form [formGroup]="filmForm" (ngSubmit)="proposer()">
        titre: <input type="text" formControlName="titre">
        accroche:<input type="text" formControlName="accroche">
        genre:<input type="text" formControlName="genre">
        pitch:<input type="text" formControlName="pitch">
        note:<input type="text" formControlName="note">
        casting:<input type="text" formControlName="casting">
        pseudo:<input type="text" formControlName="auteur
        ">
        email:<input type="text" formControlName="email">

        <button type="submit">envoyer mon idée</button>
    </form>