<div class="containerultime">
    <div class="pub"></div>

<div class="container">

    <div class="nav"></div>

    <div class="bureau">

        <img class="fond" src="./../../../assets/bois.png">
        <img class="machine" src="./../../../assets/machine.png">
        <img class="journal" src="./../../../assets/journal.png" alt="journal">
        <img *ngIf="!aide && clikIdee" class="journal" [src]="'./../../../assets/'+ideeRandom+'.png'">
        <div *ngIf="aide" class="warning"><img src="./../../../assets/warning.png" alt="warning">
            <div>{{warning}} </div>
        </div>
        <div class="ampoule"><img (click)="random()" src="./../../../assets/off.png" alt="ampoule">
            <div *ngIf="clikIdee" (click)="random()" class="eclairage"></div>

        </div>
        <div class="texte">
            <p *ngIf="fini">Votre proposition de film a été envoyée avec succès.</p>

            <div *ngIf="!fini">
                <div class="rubriques">
                    <div id="film" class="selectionne" (click)="select(0, 'film')">Film</div>
                    <div id="genre" (click)="select(1, 'genre')">Genre</div>
                    <div id="resume" (click)="select(2, 'resume')">Résumé</div>
                    <div id="casting" (click)="select(3, 'casting')">Casting</div>
                    <div id="note" (click)="select(4,'note')">Note</div>
                    <div id="bonus" (click)="select(5,'bonus')">Bonus</div>
                    <div id="envoi" (click)="select(6,'envoi')">Envoi</div>
                </div>
                <div *ngIf="selection===0" class="contenu">
                    <form>
                        <div class="titre">
                            <span>Titre :</span><img (click)='aider(1)' src="./../../../assets/question.png"
                                alt="question">
                            <input type="text" name="titre" [(ngModel)]="film.titre" required minlength="2"
                                #saisieTitre="ngModel">
                        </div>
                        <div>
                            <span>Accroche :</span><img (click)='aider(2)' src="./../../../assets/question.png"
                                alt="question">
                            <textarea name="accroche" id="accroche" cols="45" rows="30" [(ngModel)]="film.accroche"
                                required #saisieAccroche="ngModel"></textarea>
                        </div>
                    </form>

                </div>

                <div *ngIf="selection===1" class="contenu">
                    <div class="genres">
                        <div><span>Genre :</span> </div>
                        <div class="chek">
                            <div> <input type="checkbox" name="genre" id="fantastique" value="fantastique" #f [checked]="fantastique"
                                (change)="cocherGenre(f.value,f.checked)"[(ngModel)]=" fantastique"> Fantastique</div>
                            <div> <input type="checkbox" name="genre" id="comedie" value="comedie" #com [checked]="comedie"
                                    (change)="cocherGenre(com.value,com.checked)" [(ngModel)]="comedie">Comédie</div>

                            <div> <input type="checkbox" name="genre" id="romance" value="romance" #rom [checked]="romance"
                                    (change)="cocherGenre(rom.value,rom.checked)"[(ngModel)]='romance'>Romance</div>
                            <div> <input type="checkbox" name="genre" id="thriller" value="thriller" #thri [checked]="thriller"
                                    (change)="cocherGenre(thri.value, thri.checked)"[(ngModel)]='thriller'>Thriller</div>
                            <div><input type="checkbox" name="genre" id="policier" value="policier" #pol [checked]="policier"
                                    (change)="cocherGenre(pol.value,pol.checked)"[(ngModel)]='policier'>Policier</div>
                            <div><input type="checkbox" name="genre" id="sf" value="sf" #sfi [checked]="sf"
                                    (change)="cocherGenre(sfi.value,sfi.checked)"[(ngModel)]='sf'>Science-Fiction</div>
                        </div>
                        <div class="chek">
                            <div><input type="checkbox" name="genre" id="dystopie" value="dystopie" #dys [checked]="dystopique"
                                    (change)="cocherGenre(dys.value,dys.checked)"[(ngModel)]='dystopique'>Dystopie</div>
                            <div><input type="checkbox" name="genre" id="peplum" value="peplum" #pep [checked]="peplum"
                                    (change)="cocherGenre(pep.value,pep.checked)"[(ngModel)]='peplum'>Péplum</div>
                            <div><input type="checkbox" name="genre" id="historique" value="historique" #hist [checked]="historique"
                                    (change)="cocherGenre(hist.value,hist.checked)"[(ngModel)]='historique'>Historique</div>
                            <div><input type="checkbox" name="genre" id="biographie" value="biographie" #bio [checked]="biographie"
                                    (change)="cocherGenre(bio.value,bio.checked)"[(ngModel)]='biographie'>Biographie</div>
                            <div><input type="checkbox" name="genre" id="action" value="action" #act [checked]="action"
                                    (change)="cocherGenre(act.value,act.checked)"[(ngModel)]='action'>Action</div>
                            <div><input type="checkbox" name="genre" id="horreur" value="horreur" #horr [checked]="horreur"
                                    (change)="cocherGenre(horr.value,horr.checked)"[(ngModel)]='horreur'>Horreur</div>
                            <div><input type="checkbox" name="genre" id="western" value="western" #west [checked]="western"
                                    (change)="cocherGenre(west.value,west.checked)"[(ngModel)]='western'>Western</div>
                        </div>
                    </div>
                </div>


                <div *ngIf="selection===2" class="contenu">
                    <form>
                        <div>
                            <span>Résumé :</span> <img (click)='aider(3)' src="./../../../assets/question.png"
                                alt="question">
                            <textarea name="pitch" id="pitch" cols="40" rows="30" name="pitch" [(ngModel)]="film.pitch"
                                required #saisiePitch="ngModel"></textarea>
                        </div>
                    </form>
                </div>

                <div *ngIf="selection===3" class="contenu">
                    <form>
                        <div class="cast">
                            <span>Casting : </span> (* facultatif)<br>
                            <table>
                                <thead>
                                    <th>Acteur :</th>
                                    <th>Rôle :</th>
                                </thead>
                                <tbody>
                                 <tr>
                                     <td><input type="text" id="acteur1" name="acteur1" [(ngModel)]="acteur1" ></td>
                                     <td><input type="text" id="role1" name="role1" [(ngModel)]="role1"> </td>
                                 </tr>
                                 <tr>
                                    <td><input type="text" id="acteur2" name="acteur2" [(ngModel)]="acteur2" ></td>
                                    <td><input type="text" id="role2" name="role2" [(ngModel)]="role2"> </td>
                                </tr>
                                <tr>
                                    <td><input type="text" id="acteur3" name="acteur3" [(ngModel)]="acteur3" ></td>
                                    <td><input type="text" id='role3' name="role3" [(ngModel)]="role3"> </td>
                                </tr>
                                <tr>
                                    <td><input type="text" id="acteur4" name="acteur4" [(ngModel)]="acteur4" ></td>
                                    <td><input type="text" id="role4" name="role4" [(ngModel)]="role4"> </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </form>
                </div>

                <div *ngIf="selection===4" class="contenu">
                    <form>
                        <div>
                            <span>Note d'intention :</span> <img height="40px" (click)='aider(5)'
                                src="./../../../assets/question.png" alt="question">
                            <br>
                            <textarea name="note" id="note" cols="30" rows="10" [(ngModel)]="film.note"
                                #saisieNote="ngModel"></textarea>
                        </div>
                    </form>
                </div>

                <div *ngIf="selection===5" class="contenu">
                    <form>
                        <span>Bonus</span>(* facultatif) :<img (click)='aider(6)' src="./../../../assets/question.png"
                            alt="question">
                        <br>
                        <textarea name="bonus" id="bonus" cols="30" rows="10" [(ngModel)]="film.bonus"
                            #saisieBonus="ngModel"></textarea>
                    </form>
                </div>

                <div *ngIf="selection===6" class="contenu">
                    <form>
                        <div>
                            <span>Pseudo :</span>
                            <input type="text" name="pseudo" [(ngModel)]="film.auteur" required>
                        </div>
                        <div>

                            <span>Email :</span>
                            <input type="text" name="email" [(ngModel)]="film.email" required>
                        </div>
                        <br>
                        <input type="checkbox" value="rgpd" name="accord" #rgpd id="rgpd" [checked]="rgpd.checked">
                        J'accepte que, s'il est retenu, mon projet soit eventuellement corrigé, ensuite illustré et
                        publié sur le site lfqnep ainsi que sur les pages fb et instagram dédiées. <br>
                        <input type="checkbox" value="cgu" name="accord" id="cgu" #cgu [checked]="cgu.checked">cgu
                        <br>
                        <div id="poster" (click)="proposer()" [hidden]="!cgu.checked || !rgpd.checked">POSTER <img
                                src="./../../../assets/avion.png" alt="avion"></div>

                    </form>
                </div>
                <div *ngIf="selection===7" class="contenu">
                    <div id="merci">
                        <br><br>
                        Merci {{film.auteur}} d'avoir participé à ce projet collaboratif. <br><br>
                        Un email de confirmation vous a été envoyé à {{film.email}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   

<div class="pub"></div>
</div>