<div class="container">
    <div class="gauche">
        <h2>Projets en attente : </h2>
        <div *ngIf="attentes$">
            <div *ngFor="let attente of attentes$">
                <button (click)="nav(attente.id!)">{{attente.titre}} </button>
            </div>
        </div>
    </div>
    <div class="droite">
        <h2>Films à l'affiche :</h2>
        <div *ngIf="films$">
            <div *ngFor="let film of films$">
                <button (click)="nav(film.id!)">{{film.titre}} </button>
            </div>
        </div>
    </div>
</div>