.container{
    position: absolute;
    height:100vh;
    width: 100vw;
    top:0px; left:0px;
    background: linear-gradient(black, rgb(99, 78, 78));
    color: white;
}
.titre{
    height: 16vh;
    width: 100vw;
    background-color: black;
    
    display: flex; align-items: center; justify-content: center;
    font-size: 4em;
}
img[alt='logo']{
    height: 16vh; width: auto;
}
.rubriques{
    display: flex; width: 100%; height: 80vh; justify-content: space-around;
}
.droite, .centre, .gauche{
    width: 25%;
    font-size: 3vh;
    display: flex; flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rubriques div div {
    font-size: 5vh;
    background-color: rgb(99, 83, 83);
    padding: 5vh;
    border-radius: 5vh;
    transition: transform 400ms;
    margin-top:10vh;
}
.rubriques div div:active {
   transform: scale(0.7);
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.droite{
    color: rgb(192, 192, 192);
    border: 0.1vw white solid;
    border-radius: 5vh;
    padding: 4vh;
}