.container{
position: absolute; top:0px; left:0px;
height: 100vh; width: 100vw;
display: flex;
flex-wrap: wrap;
}
.nav{
 background-color:grey;
 height: 10vh;
 width: 100vw;
}
.recherche{
    background-color: burlywood;
    width: 20vw; height: 90vh;
}
.haut{
    height: 35%;
}
.bas{
    height: 65%;
}
.affichage{
    background-image: url(./../../../assets/mur.png);
    background-size: cover;
    background-attachment:local;
    background-repeat: repeat-y;
    overflow: scroll;

    top:10vh;left:20vw;
    width: 80vw;
    height: 90vh;
    display: flex;
   justify-content:flex-start;
   align-items:flex-start;
    flex-wrap: wrap;
    background-color: beige;
}

.detail{
    height: 29vw;
    width: 19.5vw;
    font-size: 1vw;
}
.titre{
height: 3.5vw;
width: 19vw;
display: flex; align-items:center ; justify-content: center;
font-family: 'craie';
color: rgba(255,255,255);
letter-spacing: 0.1vw;
font-size: 3.5vw;
}
.encart{
    width: 19.5vw;
    height: 29vw;
    position: relative;
    top: -29vw;
    z-index: 2;
}
img[alt='encart']{
    width: 19.5vw;
    height: 29vw;
}
.dessin{
    height: 22vw;
    width: 15vw;
    z-index: 1;
    margin: auto;
}
.score{
   height: 3.5vw; 
   width: 19vw;
}
img[alt='dessin']{
    width: 15vw;
   height: 22vw;
   
}

.detail span {
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
}
img[alt='star']{
    height: 2vw;
}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face {
    font-family: "craie";
    src: url(./../../../assets/ColoredCrayons-7wPR.ttf) format("truetype");
  }

